In [2]:
import geopandas as gpd

In [3]:
gdf1 = gpd.read_file(r'/Users/mac/Desktop/Beibi/SHP/classes/selec_88_9__91_9.shp')
gdf1

         VALUE                                           geometry
0    89.918266  POLYGON ((2360172.516 964992.209, 2360172.516 ...
1    89.976471  POLYGON ((2360182.516 964992.209, 2360182.516 ...
2    90.001335  POLYGON ((2360192.516 964992.209, 2360192.516 ...
3    89.993446  POLYGON ((2360202.516 964992.209, 2360202.516 ...
4    89.953079  POLYGON ((2360212.516 964992.209, 2360212.516 ...
..         ...                                                ...
130  90.129868  POLYGON ((2360162.516 964882.209, 2360162.516 ...
131  90.078461  POLYGON ((2360172.516 964882.209, 2360172.516 ...
132  89.994057  POLYGON ((2360182.516 964882.209, 2360182.516 ...
133  89.923042  POLYGON ((2360142.516 964872.209, 2360142.516 ...
134  89.924973  POLYGON ((2360152.516 964872.209, 2360152.516 ...

[135 rows x 2 columns]

In [4]:
gdf_diss1 = gdf1.dissolve()
gdf_diss1

                                            geometry      VALUE
0  POLYGON ((2360162.516 964882.209, 2360162.516 ...  89.918266

In [5]:
gdf_diss1.to_file(r'/Users/mac/Desktop/Beibi/SHP/classes/diss/diss_selec_88_9__91_9.shp')